<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partial/meta.ejs")%>
    <title><%= title%></title>
  </head>
  <body>
    <h1>hi this is home page</h1>
    <%- include("../partial/data.ejs")%>
    <a href="/download">Download this file</a>
    <%- include("../partial/section.ejs")%>
  </body>
</html>
